/*rgb(30, 25, 31), rgb(50,35, 41)*/
body{
    background:#121212;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}


html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1{

    position: absolute;
    
    top: 10%;
    left: 20%;
    opacity: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transform: translateY(100px);
    transition: opacity 6s ease-in-out, transform 4s cubic-bezier(0.42, 0, 0.1, 1);
}

h2{

    margin-top: 0.2em;
    margin-left: 0.3em;
    opacity: 65%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}




h1.loaded{
    opacity: 1;
    transform: translateY(0%);
}

h1.loaded2{
    font-size:medium;
    opacity: 65%;
    transform: translateY(430%);
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:rgba(16, 16, 16, 0.242);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.nav-bar > a {

    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    font-size:17px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    opacity: 50%;
    color: white;
    transition: opacity 0.5s ease-out;
}

.nav-bar > a.right {
    float: right;
}

.nav-bar > a:hover{
    opacity: 100%;
}



.section-landing{
    height: 100vh;
    position: relative;
}



#threejs-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.links-container{

    
    position: absolute;    
    top: calc(10% + 100px);
    left: 20%;
    opacity: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    transform: translateY(150px);
    gap: 20px;
    transition: opacity 6s ease-in-out, transform 8s cubic-bezier(0.19, 1, 0.22, 1);

}
.links-container .link{

    padding: 8px 15px;
    background-color: rgb(20, 20, 20);
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
    opacity: 80%;
    transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    font-size: 14px;
}


.links-container .link:hover{
    opacity: 65%;
    color: rgb(18, 3, 9);
    background-color: rgb(239, 246, 238);
}

.links-container.loaded{
    opacity: 100%;
    transform: translateY(50%);
}

.section-about{
    min-height: 100vh;
    padding: 5%;
    position: relative;
    z-index: 1;
}
.section-projects{
    background-color: rgb(12, 11, 12);
    min-width: 100vw;
    min-height: 100vh;

    box-shadow: -5px -20px 20px rgb(12, 11, 12);
    z-index: 1;
}


.about-left, .about-right{
    display: flex;
    border-style:solid;
    border-width: 2px;
    border-radius: 10px;
    min-width: 110%;
    border-color: #0c0c0c;
    transition: border-color 0.2s ease-out;

    /*writing*/
    align-items: center;
    min-height: 100%;
    gap: 5%;
    padding-left: 1.75%;
    padding-right: 1.75%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
}
.about-left{
    background-image: linear-gradient(90deg, #edf09b65, #0c0c0c);
    backdrop-filter: blur(5px);
    flex-direction: row-reverse;
}
.about-right{
    background-image: linear-gradient(90deg, #0c0c0c, #edf09b65);
    backdrop-filter: blur(5px);
}
.about-left:hover, .about-right:hover{
    border-color: #1a1a1a;
}


.right-arrow{
    rotate: 90deg;
    transition: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.left-arrow{
    rotate: -90deg;
    transition: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
}


.slideL{
    transform: translateX(-100%);
}
.rotateR{
    rotate: 270deg;
}
.rotateL{
    rotate: -270deg;
}
.slideR{
    transform: translateX(100%);
}

.about-content-container{
    display: flex;
    justify-content: center;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.about-container {
    min-width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    min-height: 75vh;
    column-gap: 0.5%;
    row-gap: 1%;
}

.about-container > div{
    background-color: rgba(0, 0, 0, 0.502);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.333);
    border-width: 1px;
    border-radius: 7px;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    backdrop-filter: blur(5px);
    text-align: center;
}

.about-container > div:hover{
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.258);
}


.item1 {
    grid-column: 1 / span 2;
}
  
.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}
  
.item5 {
    grid-column: 1 / span 3;
}

.content:hover{

    background-color: rgba(223, 215, 221, 0.692);;
    box-shadow:0px 0px 20px rgba(239, 246, 238, 0.692);

}

.footer{
    padding: 1%;
    background-color: black;
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    z-index: 1;
}